.section-footer {
    line-height:44px;
    background: rgba(0, 35, 20, 1);
    padding: 24px;
    font-size: 12px;
    position:relative;
    color:#fff;
    text-align:center;
    font-size: 18px;
  }
